@model List<WebFilm.Models.FilmDto>

@{
    ViewData["Title"] = "Lista filmów";
}

<h2>Filmy</h2>
<ul>
    @foreach (var film in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Film", new { id = film.Id })">@film.Title</a>
            (@film.ReleaseYear) - @film.Genre
        </li>
    }
</ul>
